<main class="main flex justify-center">
	<div class="content flex flex-col items-center py-40 max-w-[400px]">
		<h2 class="text-2xl font-bold mb-6 text-center">
			Décrivez votre humeur pour obtenir une suggestion de pizza<br />
			<small class="text-sm"
				>Votre texte doit contenir au maximum 30 caractères et vous pouvez inclure si vous
				êtes accompagné(e) ou seul(e).</small
			>
		</h2>
		<form
			[formGroup]="form"
			(ngSubmit)="onSubmit()"
			class="flex flex-col items-start w-full m-[20px auto]"
		>
			<mat-form-field appearance="fill" class="w-full mb-[20px]">
				<mat-label>Entrez votre texte</mat-label>
				<input matInput formControlName="textInput" maxlength="30" />
				<mat-hint align="end">{{ form.get('textInput')?.value?.length || 0 }}/30</mat-hint>
			</mat-form-field>

			<button
				mat-raised-button
				color="primary"
				type="submit"
				[disabled]="!form.valid || isLoading"
				class="w-full"
			>
				{{ isLoading ? 'Chargement...' : 'Soumettre' }}
			</button>
		</form>
		<!-- Add response message -->
		<div *ngIf="responseMessage" class="mt-4 p-3 bg-green-100 text-green-700 rounded">
			{{ responseMessage }}
		</div>
		<section class="flex justify-center w-full mt-10">
			<article *ngIf="pizza.id" class="flex flex-col items-center gap-1">
				<img
					src="{{ pizza.image }}"
					alt="{{ pizza.name }}"
					class="w-[200px] h-[200px] object-cover"
				/>
				<h3 class="text-xl font-bold m-0">{{ pizza.name }}</h3>
				<p class="text-center m-0">{{ pizza.price }}</p>
				<button mat-raised-button color="accent" type="submit" class="w-full">Payer</button>
			</article>
		</section>
	</div>
</main>

<router-outlet />
